@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
  box-sizing: border-box;
}

:root{
  --color-principal: #fa573a;
  --color-secundario: #21242e;
  --fuentePrincipal: 'Montserrat', sans-serif;
  --fuenteSecundaria: 'Handlee', cursive;
  --anchoMaximo: 1100px;
  --gris: #aaa;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1em;
}

img{
  width: 100%;
  height: auto;
  display: block;
}

.hidden{
  display: none;
}

.container{
  max-width: var(--anchoMaximo);
  margin: 0 auto;
}

.row{
  display:flex;
}

/*-------------------------------------- header ----------------------------------*/

header .nav_top{
  background-color: var(--color-secundario);
  padding: 20px 10px;
}

header .nav_top a{
  color: white;
  font-size: 120%;
  text-decoration: none;
}

header .nav_top a span{
  display: none;
}

header .nav_top a i{
  color: var(--color-principal);
}

header .nav_top .row{
  justify-content: space-between;
}

header nav{
  padding: 20px 10px;
}

header .hamburguesa{
  width: 50px;
  cursor: pointer;
}

header .hamburguesa div{
  border-top: 2px solid var(--gris);
  margin: 10px;
}

header nav .row{
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul{
  width: 100%;
}

header nav .logo{
  max-width: 110px;
}

header nav ul li a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  color: var(--gris);
  border-bottom: 1px solid var(--gris);
}

header nav ul li a:hover{
  color: var(--color-principal);
}

header nav ul li .activo{
  color: var(--color-principal);
}

@media(min-width: 37em){
  header .nav_top a span{
    display: inline;
  }
}

@media(min-width: 62.75em){
  header .hamburguesa{
    display: none;
  }

  header nav ul {
    width: auto;
  }

  header nav ul li{
    display: inline-block;
  }

  header nav ul li a {
    padding: 5px 20px;
    border: none;
  }
}

/*----------------------------------- Fin Header ---------------------------------*/









/*----------------------------------- Inicio Footer ---------------------------------*/

footer {
  background-color: var(--color-secundario);
  padding: 20px 10px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
}

footer a{
  color: white;
}

footer a:hover{
  text-decoration: none;
}

@media(min-width:37em){
  footer {
    text-align: left;
  }
}

/*----------------------------------- Fin Footer ---------------------------------*/
/*-------------------------- Inicio Hero ------------------------------------*/

.hero{
  background-image: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: center;
  background-color: #999;
  background-blend-mode: multiply;
  padding: 15% 10px;
}


.hero h1{
  font-family: 'Handlee', cursive;
  color: white;
  font-size: 2.5em;

}

.hero h2{
  color: var(--color-principal);
  font-size: 1.5em;
  margin: 1em 0;
}

.hero p {
  color: white;
  font-size: 1.1em;
}

.boton {
  display: inline-block;
  background-color: var(--color-principal);
  color:white;
  padding: 1.15em;
  text-decoration: none;
  margin: 1em 0;
  border: 1px solid var(--color-principal);
}

.boton:hover{
  background-color: transparent;
  color: var(--color-principal);
}

.hero ul li{
  display: inline-block;
  font-size: 2em;
  margin-right: 1em;
}

.hero ul li a{
  color: white;
}

.boton i {
  transition: ease-in-out 300ms;
}
.boton:hover i{
  transform: translateX(5px);
}

/*-----------------------------Fin Hero ----------------------------------*/

/*----------------------------Main section ourservices ---------------------------*/

  main {
    padding-bottom: 100px;
  }

 main section{
   padding: 2.125em  0.825em;
 }

 main section h2 {
   color: black;
   font-family: var(--fuenteSecundaria);
   font-size: 2em;
   text-align: center;
 }

 main section h2 span{
   color: var(--color-principal);
 }

 main section .underline{
   position: relative;
   width: 5em;
   margin: 0 auto;
   color: var(--color-principal);
   font-weight: 700;
   margin-bottom: 2em;
   text-align: center;
 }            

 main section .underline hr{
   position: absolute;
   width:100%;
   border-color: var(--color-principal);
   top: -0.068em;
 }


 main #ourservices .row{
   flex-wrap: wrap;
 
 }

 main #ourservices article{
   padding: 1.825em 0;
   border-bottom: 1px solid var(--gris);

 }

 main #ourservices article div i {
   color: var(--color-principal);
   font-size: 2em;
   border: 2px solid var(--color-principal);
   padding: 0.8rem;
 }
 
 main #ourservices article .fa-truck{
   transform: rotateY(180deg)
 }
 main #ourservices article h3 {
   margin: 1em 0;
   font-weight: 700;
 }
 
 .enlace {
   text-decoration: none;
   color: var(--color-principal);
   margin: 1em 0 0 0;
   display: block;
  
 }

 .enlace i{
  transition: ease-in-out 300ms;
 }



.enlace:hover i{
  transform: translateX(5px);
}

@media(min-width:37em){
  main #ourservices article{
    width: 50%;
    border-bottom: 0;
    border-left: 1px solid var(--gris);
    padding: 1.825em;
  }

  main #ourservices article:last-child{
    width: 100%;
    margin-top: 1em;
  }
}

@media(min-width:62.75em){
  main #ourservices article{
    width: 33.33%;;
  }
  
  main #ourservices article:last-child{
    width: 33.33%;
  }
}

/*---------------------------- Fin Main section ourservices
 ---------------------------------*/

/*---------------------------- Main section aboutus
 ---------------------------------*/

  main #aboutus .row{
    flex-wrap: wrap;

  }

  main #aboutus h3{
    font-weight: 700;
  }

  main #aboutus h4{
    margin: 1em 0;
    color: var(--color-principal);
  }

  main #aboutus .marco {
    margin: 15px 0;
    border: 3px solid var(--color-principal);
    transform: rotate(10deg);
    width: 90%;
    transition: transform ease-in-out 600ms;
  }

  main #aboutus .marco img{
    transform: rotate(-10deg);
    transition: transform ease-in-out 600ms;
  }
  
main #aboutus .columna:hover .marco, main #aboutus .columna:hover img{
  transform: rotate(0deg);
}


  @media(min-width:37em){
    
    main #aboutus .marco {
      margin: 0 15px;
    }
    main #aboutus .columna:first-child{
      width: 40%;
    }

    main #aboutus .columna:last-child{
      width: 60%;
    }
  }


/*---------------------------- Fin Main section aboutus
 ---------------------------------*/




